learning-n8n-Aia9Owi55BI2pJOy.json
{"createdAt":"2023-07-28T12:16:52.579Z","updatedAt":"2023-07-28T12:46:52.000Z","id":"Aia9Owi55BI2pJOy","name":"Learning N8N","active":false,"nodes":[{"parameters":{"path":"endpoint","options":{"ignoreBots":true}},"id":"23badcad-9300-4189-a6eb-2c07d3a55e68","name":"Webhook","type":"n8n-nodes-base.webhook","typeVersion":1,"position":[440,360],"webhookId":"b3ee93c5-71da-4a83-81d8-2c8e1bcf5250"},{"parameters":{"conditions":{"boolean":[{"value1":"={{ $('Webhook').params[\"responseCode\"] }}","value2":"={{ 200 }}"}]},"combineOperation":"any"},"id":"13efc658-3c4c-4a2b-b82f-894908907631","name":"IF","type":"n8n-nodes-base.if","typeVersion":1,"position":[660,260]},{"parameters":{"values":{"boolean":[{"name":"test"}]},"options":{}},"id":"80167ce3-2d6c-4937-aadd-a9e861a2cea8","name":"FALSE","type":"n8n-nodes-base.set","typeVersion":2,"position":[920,400]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"response","value":"={{ \"Message Received!\" }}"},{"name":"test","value":"345345"}]},"options":{}},"id":"609cfa20-9372-4ef4-8dbb-58ea32f497db","name":"TRUE","type":"n8n-nodes-base.set","typeVersion":2,"position":[880,200]}],"connections":{"Webhook":{"main":[[{"node":"IF","type":"main","index":0}]]},"IF":{"main":[[{"node":"TRUE","type":"main","index":0}],[{"node":"FALSE","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"0d09e592-1c88-4eb8-8ef9-82276e0ab956","triggerCount":0,"tags":[]}