my-workflow-4-z8IH15vFwTq61800.json
{"createdAt":"2023-09-14T08:56:23.604Z","updatedAt":"2023-09-14T09:09:35.000Z","id":"z8IH15vFwTq61800","name":"My workflow 4","active":false,"nodes":[{"parameters":{"options":{}},"id":"aaf49c02-48ae-461b-8d2f-13e73558b31e","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[640,160]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"7cd72df2-4acd-41bf-bbf1-fba9d18ab8ba","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[840,160]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"100b9948-612b-4c34-aa00-691bdae5aa0b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1040,160]},{"parameters":{},"id":"63eb8c5e-e55d-437f-9bf2-bb4ad669068e","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[420,160]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"tusharmctrl","mode":"name"},"repository":{"__rl":true,"value":"N8N-Backups","mode":"name"},"filePath":"="},"id":"4ec4b4a6-70a0-4836-8b2e-1718da22298d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[420,380],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"S5QpDOyhnl6yFUl3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"546fddb4-257f-4b56-b922-717f2847fc8c","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[660,380]},{"parameters":{"filters":{}},"id":"c1f95b95-0645-4631-8338-f147b233bd51","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[920,380],"credentials":{"n8nApi":{"id":"37dvUpsdRXHVkXZT","name":"n8n account"}}}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"0bd42342-b067-4b49-b165-98705a218980","triggerCount":0,"tags":[]}