my-workflow-2-G0dvbB1iDORJKhuv.json
{"createdAt":"2023-09-14T03:53:31.977Z","updatedAt":"2023-09-14T08:37:37.000Z","id":"G0dvbB1iDORJKhuv","name":"My workflow 2","active":true,"nodes":[{"parameters":{"rule":{"interval":[{"field":"hours","hoursInterval":23}]}},"id":"8fbd1000-fe91-4e40-96ca-b94fd4b4303e","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[460,440]},{"parameters":{"endpoint":"https://known-dingo-57.hasura.app/v1/graphql","requestFormat":"json","query":"=mutation DeleteOldTokens($id: Int) {\n  delete_tokens(where: {id: {_lte: $id}}) {\n    affected_rows\n  }\n}\n","variables":"={\n\"id\": {{ $json.data.insert_tokens_one.id - 2}}\n} ","headerParametersUi":{"parameter":[{"name":"x-hasura-admin-secret","value":"FC2wZTvLuCaUpN43rKpW9VuZmw75R5Jd0OHL09NwCMA6u10RLWjcMX1Dzn67DdoC"}]}},"id":"a1fe32d1-b0f2-4633-af2c-1ced5dfe03c9","name":"DeleteRestOfTokens","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[1280,440]},{"parameters":{"endpoint":"https://known-dingo-57.hasura.app/v1/graphql","requestFormat":"json","query":"mutation AddToken($object: tokens_insert_input!) {   insert_tokens_one(object: $object) {     id     token   } }","variables":"={\n\"object\": {\n  \"token\": \"{{ $json[\"token\"] }}\"\n }\n}","headerParametersUi":{"parameter":[{"name":"x-hasura-admin-secret","value":"FC2wZTvLuCaUpN43rKpW9VuZmw75R5Jd0OHL09NwCMA6u10RLWjcMX1Dzn67DdoC"}]}},"id":"d5a6a267-8190-41b3-abc2-fddc8acd9f6d","name":"InsertNewToken","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[1080,440]},{"parameters":{"endpoint":"https://known-dingo-57.hasura.app/v1/graphql","requestFormat":"json","query":"query GetTokenFromDB{\n  tokens(order_by: {id:desc}, limit: 1){\n    id\n    token\n  }\n}","headerParametersUi":{"parameter":[{"name":"x-hasura-admin-secret","value":"FC2wZTvLuCaUpN43rKpW9VuZmw75R5Jd0OHL09NwCMA6u10RLWjcMX1Dzn67DdoC"}]}},"id":"ecfac838-52d8-4ab4-843e-11cc7b269331","name":"GetLastValidToken","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[660,440]},{"parameters":{"url":"https://taxually-api.azurewebsites.net/api/v1/Token/ChangeTenant?tenantId=BB2090DC-81C1-49ED-AE2E-5016C79464AB","sendHeaders":true,"headerParameters":{"parameters":[{"name":"Authorization","value":"=Bearer  {{ $json.data.tokens[0].token }}"}]},"options":{}},"id":"79f5ef5d-d92b-4f3e-be84-12082ab2627e","name":"GetNewTokenFromAzure","type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[880,440]},{"parameters":{"type":"SHA256","value":"={{ $json.data.insert_tokens_one.token }}"},"id":"37446867-4985-41c7-a091-1f2d5d17c43e","name":"Crypto","type":"n8n-nodes-base.crypto","typeVersion":1,"position":[1340,720]}],"connections":{"Schedule Trigger":{"main":[[{"node":"GetLastValidToken","type":"main","index":0}]]},"InsertNewToken":{"main":[[{"node":"DeleteRestOfTokens","type":"main","index":0},{"node":"Crypto","type":"main","index":0}]]},"GetLastValidToken":{"main":[[{"node":"GetNewTokenFromAzure","type":"main","index":0}]]},"GetNewTokenFromAzure":{"main":[[{"node":"InsertNewToken","type":"main","index":0}]]},"DeleteRestOfTokens":{"main":[[]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[1]}},"pinData":{},"versionId":"3cef7a07-1764-4f4c-b91c-54654d08f142","triggerCount":1,"tags":[]}