my-workflow-4-z8IH15vFwTq61800.json
{"createdAt":"2023-09-14T08:56:23.604Z","updatedAt":"2023-09-14T09:21:12.000Z","id":"z8IH15vFwTq61800","name":"My workflow 4","active":false,"nodes":[{"parameters":{"options":{}},"id":"aaf49c02-48ae-461b-8d2f-13e73558b31e","name":"Set date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[640,160]},{"parameters":{"operation":"formatDate","date":"={{ $json.currentDate }}","format":"custom","customFormat":"dd-MM-yyyy/H:mm","options":{}},"id":"7cd72df2-4acd-41bf-bbf1-fba9d18ab8ba","name":"Format date","type":"n8n-nodes-base.dateTime","typeVersion":2,"position":[840,160]},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"commitDate","value":"={{ $json.formattedDate }}"}]},"options":{}},"id":"100b9948-612b-4c34-aa00-691bdae5aa0b","name":"Set commit date","type":"n8n-nodes-base.set","typeVersion":2,"position":[1040,160]},{"parameters":{},"id":"63eb8c5e-e55d-437f-9bf2-bb4ad669068e","name":"Execute workflow","type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[420,160]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"list","owner":{"__rl":true,"value":"tusharmctrl","mode":"name"},"repository":{"__rl":true,"value":"N8N-Backups","mode":"name"},"filePath":"="},"id":"4ec4b4a6-70a0-4836-8b2e-1718da22298d","name":"List files from repository [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[420,380],"alwaysOutputData":true,"credentials":{"githubOAuth2Api":{"id":"S5QpDOyhnl6yFUl3","name":"GitHub account"}}},{"parameters":{"operation":"aggregateItems","fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"name"}]},"options":{}},"id":"546fddb4-257f-4b56-b922-717f2847fc8c","name":"Combine file names [GITHUB]","type":"n8n-nodes-base.itemLists","typeVersion":2.1,"position":[660,380]},{"parameters":{"filters":{}},"id":"c1f95b95-0645-4631-8338-f147b233bd51","name":"Retrieve workflows [N8N]","type":"n8n-nodes-base.n8n","typeVersion":1,"position":[920,380],"credentials":{"n8nApi":{"id":"37dvUpsdRXHVkXZT","name":"n8n account"}}},{"parameters":{"mode":"jsonToBinary","options":{"fileName":"={{ $json.name.replace(/\\s+/g, '-').toLowerCase() }}-{{ $json.id }}.json"}},"id":"3f82bb91-824d-4286-bdca-73979e1d35ce","name":"Move JSON to binary","type":"n8n-nodes-base.moveBinaryData","typeVersion":1,"position":[1140,380]},{"parameters":{"batchSize":1,"options":{}},"id":"9484d82c-69b1-41dd-816a-2fa08f83da64","name":"Split to single items","type":"n8n-nodes-base.splitInBatches","typeVersion":2,"position":[1456,430]},{"parameters":{"conditions":{"string":[{"value1":"={{ $node['Combine file names [GITHUB]'].json.name }}","operation":"contains","value2":"={{ $binary.data.fileName }}"}]}},"id":"7087bf18-f0fd-4827-834f-c60609f3bdb0","name":"Check if file exists in repository","type":"n8n-nodes-base.if","typeVersion":1,"position":[1696,350]},{"parameters":{"authentication":"oAuth2","resource":"file","operation":"edit","owner":{"__rl":true,"value":"tusharmctrl","mode":"name"},"repository":{"__rl":true,"value":"N8N-Backups","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"89800784-f83c-4d0b-840a-8898b492b922","name":"Update file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1916,150],"credentials":{"githubOAuth2Api":{"id":"S5QpDOyhnl6yFUl3","name":"GitHub account"}}},{"parameters":{"authentication":"oAuth2","resource":"file","owner":{"__rl":true,"value":"tusharmctrl","mode":"name"},"repository":{"__rl":true,"value":"N8N-Backups","mode":"name"},"filePath":"={{ $binary.data.fileName }}","binaryData":true,"commitMessage":"=backup-{{ $node['Set commit date'].json.commitDate }}"},"id":"8e9ba27b-ceaa-41bb-826c-445aa22b2321","name":"Upload file [GITHUB]","type":"n8n-nodes-base.github","typeVersion":1,"position":[1916,550],"credentials":{"githubOAuth2Api":{"id":"S5QpDOyhnl6yFUl3","name":"GitHub account"}}},{"parameters":{"content":"## Upload backup\nSplit JSON files into batches of 1, check if they were uploaded to repository before. If yes (true), upload the new version of the file. Otherwise (false) create the file in repository.","height":731.633426614796,"width":703.8733020263451},"id":"2a049b1e-aed4-4178-9ef2-ee5893b85187","name":"Sticky Note4","type":"n8n-nodes-base.stickyNote","typeVersion":1,"position":[1380,20]}],"connections":{"Set date":{"main":[[{"node":"Format date","type":"main","index":0}]]},"Format date":{"main":[[{"node":"Set commit date","type":"main","index":0}]]},"Execute workflow":{"main":[[{"node":"Set date","type":"main","index":0}]]},"Set commit date":{"main":[[{"node":"List files from repository [GITHUB]","type":"main","index":0}]]},"List files from repository [GITHUB]":{"main":[[{"node":"Combine file names [GITHUB]","type":"main","index":0}]]},"Combine file names [GITHUB]":{"main":[[{"node":"Retrieve workflows [N8N]","type":"main","index":0}]]},"Retrieve workflows [N8N]":{"main":[[{"node":"Move JSON to binary","type":"main","index":0}]]},"Split to single items":{"main":[[{"node":"Check if file exists in repository","type":"main","index":0}]]},"Check if file exists in repository":{"main":[[{"node":"Update file [GITHUB]","type":"main","index":0}],[{"node":"Upload file [GITHUB]","type":"main","index":0}]]},"Update file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Upload file [GITHUB]":{"main":[[{"node":"Split to single items","type":"main","index":0}]]},"Move JSON to binary":{"main":[[{"node":"Split to single items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"pinData":{},"versionId":"5eab8d92-8616-4cbd-8aad-165ec628f53f","triggerCount":0,"tags":[]}