my-workflow-ZwahqNrx7CJ4qjIW.json
{"createdAt":"2023-08-14T04:06:17.168Z","updatedAt":"2023-08-14T04:41:19.000Z","id":"ZwahqNrx7CJ4qjIW","name":"My workflow","active":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"48 9 * * *"}]}},"id":"4bb36c98-c63f-4347-b841-d84f6d80f9c7","name":"Schedule Trigger","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[580,240]},{"parameters":{"endpoint":"https://known-dingo-57.hasura.app/v1/graphql","requestFormat":"json","query":"mutation AddPatient($patient: [patient_insert_input!]!) {\n  insert_patient(objects: $patient){\n    returning {\n      id\n    }\n  }\n}","variables":"={\n  \"patient\": {\n    \"id\": \"{{ $json.Second }}\", \n    \"resource_type\": \"patient\",\n    \"ts\":\"{{ $json.timestamp }}\",\n    \"resource\": {\n      \"id\": \"test_resource\"\n    },\n    \"status\": \"created\",\n    \"txid\": \"1\"\n  }\n} ","headerParametersUi":{"parameter":[{"name":"x-hasura-admin-secret","value":"FC2wZTvLuCaUpN43rKpW9VuZmw75R5Jd0OHL09NwCMA6u10RLWjcMX1Dzn67DdoC"}]}},"id":"e001f6f7-8775-45f4-87c8-6104286bef54","name":"GraphQL","type":"n8n-nodes-base.graphql","typeVersion":1,"position":[800,240]},{"parameters":{"fromEmail":"pagemtr.demo@gmail.com","toEmail":"tushar24081@gmail.com","subject":"N8n test","text":"=Thois is N8N test. {{ $json.data.insert_patient.returning[0].id }}","options":{}},"id":"c843cebe-a796-449a-9690-251afba1806c","name":"Send Email","type":"n8n-nodes-base.emailSend","typeVersion":2,"position":[1000,240],"credentials":{"smtp":{"id":"d5NWW1E76TbpB0CO","name":"SMTP account"}}},{"parameters":{"operation":"update","documentURL":"1Ela8ET1rm7HdWFlWQSpIWZm1RKmJyJJr6Bds17R5Xn0","actionsUi":{"actionFields":[{"action":"insert","text":"=I have added patient with ID  {{ $('GraphQL').item.json.data.insert_patient.returning[0].id }} in GraphQL."}]}},"id":"5e93363f-52af-4ad5-a80d-af9c2e6dc184","name":"Google Docs","type":"n8n-nodes-base.googleDocs","typeVersion":2,"position":[1220,240],"credentials":{"googleDocsOAuth2Api":{"id":"KaWbWkHxIALTpixc","name":"Google Docs account"}}}],"connections":{"Schedule Trigger":{"main":[[{"node":"GraphQL","type":"main","index":0}]]},"GraphQL":{"main":[[{"node":"Send Email","type":"main","index":0}]]},"Send Email":{"main":[[{"node":"Google Docs","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:Schedule Trigger":{"recurrencyRules":[]}},"pinData":{},"versionId":"a77f179e-d266-4dad-83e7-7a856243d522","triggerCount":1,"tags":[]}